<p id="notice"><%= notice %></p>

<h1>Nerf game</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Wins</th>
      <th>Losses</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= link_to player.name, player %></td>
        <td><%= player.wins %></td>
        <td><%= player.losses %></td>
        <td><%= link_to 'Edit/Delete', edit_player_path(player) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Player', new_player_path %>
<%= button_to 'New Game', players_reset_path, method: :patch%>
